@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
font-family: 'Open Sans', sans-serif;
margin: 0;
background-color: #111;
color: white;
} .navbar {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: black;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.473);
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 0;
    padding-left: 0;
} .navicon {
    margin-left: 20px;
    margin-right: 10px;
} .content {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.anotherfuckingcontainer {
  margin: 20px;
}

.t1 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
} .t2 {
  margin: 0;
}



.banner {
  object-fit: cover;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
} .bannerimg {
  object-fit: cover;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.navdrawer {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #000000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.473);
  }

  .navdrawerbg {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: transparent; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .navdrawera {
    padding: 6px 6px 6px 28px;
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .navdrawerlink {
    padding: 6px 6px 6px 10px;
    margin: 15px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 10px;
  }

  .navdrawerlinkactive {
    padding: 6px 6px 6px 10px;
    margin: 15px;
    
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    background-color: #ffffff;
    display: block;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 10px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .navdrawera:hover {
    color: #969696;
  }

  .navdrawerlink:hover {
    background-color: #ffffff15;
  }
  
  /* Position and style the close button (top right corner) */
  .navdrawer .closebtn {
    position: absolute;
    top: 0;
    margin-top: 0;
    right: 7px;
    font-size: 36px;
    margin-left: 50px;
  }

  .navdrawer .logodrawer {
    position: absolute;
    top: 10px;
    margin-top: 0;
    left: 7px;
    font-size: 36px;
    
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) 
  @media screen and (max-height: 450px) {
    .navdrawer {padding-top: 15px;}
    .navdrawer a {font-size: 18px;}
    
  }*/

 




  .container {  display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 0;
    margin-top: 30px;
    margin-bottom: 50px;
    grid-auto-flow: column;
    grid-template-areas: 
    "getstarted"
    "install"
    "favicon"
    "config";
  }

  @media only screen and (min-width: 35em) {  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    
   
    
    margin-top: 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "getstarted install"
      "favicon config";
  }}
  
  .getstarted { grid-area: getstarted; 
  background-color: rgb(0, 0, 0);

  
  }
  
  .install { grid-area: install; 
    background-color: #000;}
  
  .favicon { grid-area: favicon; 
    background-color: #000;}
  
  .config { grid-area: config; 
    background-color: #000;}

    .ge {
      border-radius: 20px;
      border-style: solid;
      border-color: #ffffff21;
     border-width: 2px;
     display: flex;
   
     align-items: center;
     transition: 0.2s;
    }

    .ge:hover {
      transition: 0.2s;
      box-shadow: 0 10px 10px 0 #00000080;
    }
  
  .getstartedcontent {
    margin: 20px;
    
  } .gep {
    margin: 0;
    padding: 0;
  } .getstartedcontentparent {
    margin: 20px;
 /*   margin-left: auto;
    margin-right: auto;*/
    padding: 8px;
    width: fit-content;
    height: fit-content;
  } .footer {
    text-align: center;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  } .ftrtext {
    margin: 5px;
  } .footerlink {
    color: white;
    transition: .2s;
}

.footerlink:hover {
    opacity: 0.6;
}