@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html, body {
  height: 100%;
}

body {
font-family: 'Open Sans', sans-serif;
margin: 0;
background-color: #111;
color: white;
display: flex;
flex-direction: column;

} .navbar {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #000000;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.473);
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 0;
    padding-left: 0;
} .navicon {
    margin-left: 20px;
    margin-right: 10px;
} .content {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    flex: 1 0 auto;
}

.anotherfuckingcontainer {
  margin: 20px;
}

.t1 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
} .t2 {
  margin: 0;
}



.banner {
  object-fit: cover;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} .bannerimg {
  object-fit: cover;
  max-height: 400px;
  margin-left: auto;
  max-width: none;
  margin-right: auto;
  width: 100%;
}

.navdrawer {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #000000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
 
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.473);
  }

  .navdrawerbg {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: transparent; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .navdrawera {
    padding: 6px 6px 6px 28px;
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .navdrawerlink {
    padding: 6px 6px 6px 10px;
    margin: 15px;
    text-decoration: none;
    font-size: 19px;
    white-space: nowrap;
    color: #ffffff;
    display: block;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 10px;
  }

  .navdrawerlinkactive {
    padding: 6px 6px 6px 10px;
    margin: 15px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 19px;
    color: #000000;
    background-color: #ffffff;
    display: block;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 10px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .navdrawera:hover {
    color: #969696;
  }

  .navdrawerlink:hover {
    background-color: #ffffff15;
  }
  
  /* Position and style the close button (top right corner) */
  .navdrawer .closebtn {
    position: absolute;
    top: 0;
    margin-top: 0;
    right: 7px;
    font-size: 36px;
    margin-left: 50px;
  }

  .navdrawer .logodrawer {
    position: absolute;
    top: 10px;
    margin-top: 0;
    left: 7px;
    font-size: 36px;
    
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) 
  @media screen and (max-height: 450px) {
    .navdrawer {padding-top: 15px;}
    .navdrawer a {font-size: 18px;}
    
  }*/

 




  .container {  display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 0;
    margin-top: 30px;
    margin-bottom: 50px;
    grid-auto-flow: column;
    grid-template-areas: 
    "getstarted"
    "install"
    "favicon"
    "config";

  }

  @media only screen and (min-width: 38em) {  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    
   
    
    margin-top: 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "getstarted install"
      "favicon config";
  }}

 /* .container2 {  display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 0;
    margin-top: 30px;
    margin-bottom: 50px;
    grid-auto-flow: column;
    grid-template-areas: 
    "prev"
    "next";
  }

  @media only screen and (min-width: 25em) {  .container2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    
   
    
    margin-top: 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "prev next";
  }}*/

  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 20px;
    margin-top: 30px;

    grid-auto-flow: row;
    grid-template-areas:
      "prev next";
  }
  
  .getstarted { grid-area: getstarted; 
  background-color: rgb(0, 0, 0);

  
  }

  .prev { grid-area: prev; 
    background-color: rgb(0, 0, 0);
  
    
    }
    .next { grid-area: next; 
      background-color: rgb(0, 0, 0);
    
      
      }

      @media only screen and (max-width: 25em) {  .nep { 
        font-weight: 400;
        font-size:medium;
      }
    .nepar {
      display: none;
    }
    .nep2 {
      height: 25px;
    }
    }
  
  .install { grid-area: install; 
    background-color: #000;}
  
  .favicon { grid-area: favicon; 
    background-color: #000;}
  
  .config { grid-area: config; 
    background-color: #000;}

    .ge {
      border-radius: 20px;
      border-style: solid;
      border-color: #ffffff21;
     border-width: 2px;
     display: flex;
   
     align-items: center;
     transition: 0.2s;
    }

    .ge:hover {
      transition: 0.2s;
      box-shadow: 0 10px 10px 0 #00000080;
    }
  
  .getstartedcontent {
    margin: 20px;
    
  } .gep {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
  } .getstartedcontentparent {
    margin: 20px;
 /*   margin-left: auto;
    margin-right: auto;*/
    padding: 8px;
    width: fit-content;
    height: fit-content;
  } .footer {
    text-align: center;
    background-color: #000;
    display: flex;

    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  } .ftrtext {
    margin: 5px;
  } .footerlink {
    color: white;
    transition: .2s;
}

.footerlink:hover {
    opacity: 0.6;
} /*.drawerbottomlinks {
  background-color: #000;

  width: 250px;


} .bottomlink {
 
  color: white;
  display: block;
  margin: 2px;
  padding: 2px;

  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.2s;
} .blc {
 /* margin-bottom: 65px;   margin-top: 30px;

} .bottomlink:hover {
  opacity: 0.6;
}*/
.ftlpadding {
  padding: 5px;
  margin: 5px;
  padding-left: 0;
  padding-right: 0;
} .linkeffect {
  color: white;
  transition: .2s;
}

.linkeffect:hover {
  opacity: 0.6;
}/* .ghlink {
  
}*/ .iafc {
  padding-bottom: 30px;
} .sbt {
  font-size: medium;
  margin-top: 0;
  padding-top: 0;
} .sbtt {
  margin-bottom: 5px;
  padding-bottom: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

pre[class*="language-"] {
  position: relative;
  overflow: auto;

  /* make space  */
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1rem;
  border-radius: 10px;
}

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}